{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'chess_app/main.css' %}">

    {% if title %}
        <title>Chess Game - {{ title }}</title>
    {% else %}
        <title>Chess Game</title>
    {% endif %}

</head>
<body>
    {% block content %}{% endblock content %}
</body>
</html>
