{% extends "chess_app/index.html" %}
{% load static %}
{% block content %}
<h1>"Welcome!"</h1>
<!--
//--- Chess Game ---
-->
<div class="game-row">

  <div class="game-column">
    <a href="http://127.0.0.1:8000/chess_app/" class="JoinButton" >PLAY CHESS!</a>
  </div>

  <div class="game-column">
    <p >Chess Game</p>
  </div>

  <div class="game-column">
    <img class="boardimg" src="{% static 'chess_app/board.png' %}"alt="board">
  </div>
</div>
<!--
//--- Next Game ---
-->
<div class="game-row">

  <div class="game-column">
    <a href="http://127.0.0.1:8000/games" class="JoinButton" buttondisabled >Coming Soon!</a>
  </div>

  <div class="game-column">
    <p >N/A<br>This game as yet to be developed!</p>
  </div>

  <div class="game-column">
    <img class="games_img" src="{% static 'chess_app/tictactoe.png' %}"alt="Tic-Tac-Toe">
  </div>
</div>
<!--
//--- Next Game ---
-->
<div class="game-row">

  <div class="game-column">
    <a href="http://127.0.0.1:8000/games" class="JoinButton" buttondisabled >Coming Soon!</a>
  </div>

  <div class="game-column">
    <p >N/A<br>This game as yet to be developed!</p>
  </div>

  <div class="game-column">
    <img class="games_img" src="{% static 'chess_app/default.png' %}"alt="default">
  </div>
</div>

{% endblock content %}
