{% extends "chess_app/base.html" %}
{% load static %}
{% block content %}


<!--Different Home Text (Checkered) Experiment -->
<!--<div class="container"> -->
	<!-- code here -->
	<div class="header-box">
		<h1>THE CHESS GAME</h1>
		<h1>THE CHESS GAME</h1>
	</div>

<!--End of checkered Home Text Experiment -->
<div class="chess-row">
  <div class="chess-column" >
    <div class="chess-description-textbox">
      <h2>Free Play Style!</h2>
      <p>Our Chess Game offers a unique "Free Play" Style that
        will let your imagination run wild! Play in a crazy way
        along with all your friends!!</p>
      </div>
    </div>

  <div class="chess-column">
    <!-- Image add Board -->
    <img class="boardimg" src="{% static 'chess_app/board.png' %}"
          alt="board">
          </div>
    </div>


<!--This is the join button -->
<button class="JoinButton" onclick="create_lobby()">Join Multiplayer Lobby!</button>
<p1>Checkmate<span>:)</span></p1>
<script>
    function create_lobby() {
        let lobby_number = Math.floor((Math.random() * 1000) + 1);
        let URL = 'lobby_' + lobby_number;
        window.open(URL, '_self');
    }
</script>
{% endblock content %}
