
{% load static %}

<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'chess_app/main.css' %}">
</head>
<body>
  <div class="all_content">
    <div class="index_menu"
      <div id="wrapper">

        <div id='menu_div'>
          <li id="sitename">Menu</li>
          <li><a href="http://127.0.0.1:8000/index_home">Home</a></li>
          <li><a href="http://127.0.0.1:8000/games">Games</a></li>
          <!--<li><a href="http://127.0.0.1:8000/chess_app/">Products</a></li>-->
          <li><a href="http://127.0.0.1:8000/about/">About</a></li>
          <li><a href="http://127.0.0.1:8000/contact/">Contact</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Feedback</a></li>
        </div>
      </div>
    </div>
    <div class="index_content">
      {% block content %}
      <div class="header-box">
        <h1>Game Hub Home</h1>
        <h1>Game Hub Home</h1>
      </div>

      <p>"This is a Game hub where you can choose to play any game you wish!"</p>
      <br><p>You can just go to the 'Games' Tab and choose any game you want to play!</p>
      <br><p>Sadly we only offer chess right now :(</p>
      {% endblock content %}
    </div>
  </div>

</body>

</html>
