{% extends "chess_app/index.html" %}
{% load static %}
{% block content %}
<div class="header-box">
  <h1>Game Hub Home</h1>
  <h1>Game Hub Home</h1>
</div>

<p>"This is a Game hub where you can choose to play any game you wish!"</p>
<br><p>You can just go to the 'Games' Tab and choose any game you want to play!</p>
<br><p>Sadly we only offer chess right now :(</p>
{% endblock content %}
