{% extends "chess_app/base.html" %}
{% load static %}
{% block content %}
<!-- Load phaser from CDN! -->
<script src="https://cdn.jsdelivr.net/npm/phaser@3.54.0/dist/phaser.js"></script>
<script src="https://cdn.jsdelivr.net/npm/phaser@3.15.1/dist/phaser-arcade-physics.min.js"></script>

<h2 id="player">Playing as: Spectator</h2>
<h3 id="turn">Current Turn: White</h3>

{{ lobby_name|json_script:"lobby-name"}}
<script>
    // preload must stay inlined so that django can serve static assets!
    function preload() {
        this.load.image('bb', "{% static 'assets/bb.svg' %}");
        this.load.image('bk', "{% static 'assets/bk.svg' %}");
        this.load.image('bn', "{% static 'assets/bn.svg' %}");
        this.load.image('bp', "{% static 'assets/bp.svg' %}");
        this.load.image('bq', "{% static 'assets/bq.svg' %}");
        this.load.image('br', "{% static 'assets/br.svg' %}");
        this.load.image('wb', "{% static 'assets/wb.svg' %}");
        this.load.image('wk', "{% static 'assets/wk.svg' %}");
        this.load.image('wn', "{% static 'assets/wn.svg' %}");
        this.load.image('wp', "{% static 'assets/wp.svg' %}");
        this.load.image('wq', "{% static 'assets/wq.svg' %}");
        this.load.image('wr', "{% static 'assets/wr.svg' %}");
    }
</script>

<script>
    const lobbyName = JSON.parse(document.getElementById('lobby-name').textContent);

    const chatSocket = new WebSocket(
        'ws://' +
        window.location.host +
        '/ws/chess_app/' +
        lobbyName + '/'
    )
</script>

<!-- Load dependencies before game.js! -->
<script src="{% static 'js/Board.js' %}"></script>
<script src="{% static 'js/globals.js' %}"></script>
<script src="{% static 'js/Piece.js' %}"></script>
<script src="{% static 'js/game.js' %}"></script>

<script>
    chatSocket.onmessage = function(e) {
        const recieved = JSON.parse(e.data);

        if('board' in recieved) {
            if(recieved.playerID != playerID) {
                console.log('new board!');
                flip_board(recieved.board);
                board.setBoard(recieved.board);
            }
        }
        else if('status' in recieved) {
            if(recieved.playerID != playerID) {
                player_count++;
                chatSocket.send(JSON.stringify({'board': board.getState(), 'playerID': playerID}));
                chatSocket.send(JSON.stringify({'player_count': player_count, 'playerID': playerID, 'whiteID': whiteID, 'blackID': blackID}));
            }
        }
        else if('player_count' in recieved) {
            if(recieved.playerID != playerID) {
                blackID = recieved.blackID;
                whiteID = recieved.whiteID;
                player_count = recieved.player_count;

                if(player_count <= 2) {
                    board_changed = true;
                    if(recieved.blackID == null) {
                        blackID = playerID;
                        player_type = 'Black';
                        chatSocket.send(JSON.stringify({'player_count': player_count, 'playerID': playerID, 'whiteID': whiteID, 'blackID': blackID}));
                    }
                    else if(recieved.whiteID == null) {
                        whiteID = playerID;
                        player_type = 'White';
                        chatSocket.send(JSON.stringify({'player_count': player_count, 'playerID': playerID, 'whiteID': whiteID, 'blackID': blackID}));
                    }
                }
            }
        }
        else if('current_turn' in recieved) {
            current_turn = recieved.current_turn;
        }
    }

    chatSocket.onopen = function(e) {
        playerID = Math.floor((Math.random() * 1000) + 1);
        chatSocket.send(JSON.stringify({'status': 'joined', 'playerID': playerID}));
    }
</script>

{% endblock content %}