*,
*:after,
*:before {
  box-sizing: border-box;
}
//--------------------------------------------------------------
//----------------------Global CSS CLasses----------------------
//--------------------------------------------------------------
body {
  font-family: "Inter", sans-serif;
  background-color: #fff;
  /*background-color: grey;*/
  display: block;
  text-align: center;
}

.JoinButton{
  display: inline-block;
  padding: 15PX 25PX;
  font-size: 24PX;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  background-color: #b0b4b8;
}
.JoinButton:hover{background-color: #3e8e41}
.JoinButton:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4PX);
}
.header-box {
	position: inline-block;
	display: flex;
	//align-items: center;
	justify-content: center;
  width: auto;
//max-width: 80%;
}
h1 {
  max-width: 100%;
  height: auto;
  border-style: double;
	font-size: 6vw;
	font-weight: 900;
  width: auto;
	background-color: grey;
	color: #000;
	display: block;
	padding: .3em;
}

h1:nth-child(2) {
  border-style: none;
	position: absolute;
  width: inherit;
  top: auto;
  right: auto;
	background-color: transparent;
  //display: none;
	color: #fff;
	clip-path: inset(-1% -1% 10% -1%);
  // Added the negative values to prevent icky "bleed" in Chrome
}
//--------------------------------------------------------------
//-------------------Chess: CSS CLasses-------------------------
//--------------------------------------------------------------
/*
  The Column and row can be viewed as a layout for the content that
  goes inside of it.
*/
.chess-column {
  float:left;
  width: 50%;

  padding: 15px;
}
//create Row
.chess-row{
  content: "";
  display: table;
  clear: both;
  height: auto;
  //max-width: 70%;
}
/*
  The header-box Modifies the Content of the Text declared that follows it
*/

.chess-description-textbox{
  font-size: 1.75em;
}
p1 {
  font-size: 2vw;
  font-weight: 900;
  display: block;
  margin-top: 1em;
}


p {
	font-size: 2vw;
	font-weight: 900;
	margin-top: 1em;
	text-align: center;
	span {
		display: block;
		transform: rotate(90deg);
		margin-top: 0.25em;
	}
}
//--------------------------------------------------------------
//----------------------INDEX: CSS CLasses----------------------
//--------------------------------------------------------------
body
{
 margin:0 auto;
 padding:0px;
 text-align:center;
 width:100%;
 font-family: "Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
 background-color:#ECF0F1;
}
.index_menu{
  float:left;
  //width: 23%;
  resize: both;
  overflow:auto;
  position: relative;
  }
.index_content{
  float:right;
  width:75%;
  display: block;
  align-content: center;
  position: relative;
  resize: both;

}
.all_content{
}
#wrapper
{
 margin:0 auto;
 padding:0px;
 text-align:center;
 width:995px;
}
#menu_div
{
 padding:0px;
 margin:0px;
 //max-width:30%;
 height:100%;
 background-color:#2E2E2E;
 position:fixed;
 top:0px;
 left:0px;
 resize: both;
 min-width: 25%;
}
#menu_div li
{
 border-bottom:1px solid #424242;
 list-style-type:none;
 text-align:left;
}
#menu_div #sitename
{
 font-size:40px;
 margin-top:50px;
 margin-bottom:30px;
 padding:0px;
 padding-left:10px;
 color:white;
 border-bottom:none;
 cursor:pointer;
}
#menu_div li a
{
 height:50px;
 line-height:50px;
 display:block;
 color:silver;
 text-decoration:none;
 font-size:18px;
 padding-left:20px;
}
#menu_div li:hover a
{
 color:white;
}
#content
{
 width:815px;
 margin-left:170px;
 margin-top:40px;
 text-align:center;
 resize: both;
}
#content h1
{
 margin-top:50px;
 font-size:45px;
 color:#626567;
}
#content h1 p
{
 font-size:18px;
 width:100%;
 margin:0px;
 margin-top:10px;
}
#content p
{
 color:#4D5656;
 width:600px;
 margin-left:110px;
}

//--------------------------------------------------------------
//------------------------Game: css class ----------------------
//--------------------------------------------------------------
.game-row{
  content: "";
  display: table;
  clear: both;
  height: auto;
  overflow: auto;
  width: 100%;
}
.game-column{
  //position: relative;
  //max-height: 300;
  align-items: center;
  display:block;
  float: right;
  width: 33.33%;
  padding: 15px;
}
//--------------------------------------------------------------
//------------------------- Resources --------------------------
//--------------------------------------------------------------
//ADD Image Of board
.boardimg {
  max-width: 23vw;
  max-height: 100%;
}
.games_img {
  max-width: 100%;
  max-height: 100%;
}
